@font-face {
  font-family: Mukta;
  src: url(components/Fonts/Mukta-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: Yellix;
  src: url(components/Fonts/Yellix-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: Yellix;
  src: url(components/Fonts/Yellix-Medium.ttf);
  font-display: swap;
}
@font-face {
  font-family: Yellix;
  src: url(components/Fonts/Yellix-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: Yellix;
  src: url(components/Fonts/Yellix-SemiBold.ttf);
  font-display: swap;
}
