body {
  background: black !important;
}
.acc-lvl-table-wrap {
  display: grid;
  padding: 10px;
  row-gap: 20px;
}

.acc-lvl-table {
  display: table;
  width: 100%;
  table-layout: fixed;
  justify-content: center;
  border-collapse: collapse;
}
.none {
  color: black;
  border: none !important;
}
.acc-lvl-table h1 {
  font-family: "Yellix";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 147.5%;
  color: #ffffff;
  align-self: center;
}

.acc-lvl-table span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.level1,
.level2,
.level3 {
  border-left: 2px dashed grey;
}
.level3 {
  border-right: 2px dashed grey;
}

.acc-lvl-border-highlight {
  border-left: 2px dashed #ffcb00;
}
.acc-lvl-border-highlight-lvl3 {
  border-right: 2px dashed #ffcb00;
}

th,
td {
  display: table-cell;
  vertical-align: inherit;
  border-collapse: collapse;
  max-height: 150px;
}

/* Bu kısmı figma ile karşılaştır */
.acc-lvl-table-header,
label {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 90%;
  height: 65px;
  background: #636363;
  border-radius: 4px;
  position: relative;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.acc-lvl-header-tail {
  content: "";
  position: absolute;
  top: 100%;
  display: inline-block;
  margin: 0 auto;
  width: 0px;
  height: 0px;
  border-left: 15px solid transparent;
  border-top: 15px solid #636363;
  border-right: 15px solid transparent;
}

.acc-table-svg-cell {
  text-align: center;
  position: relative;
}

.acc-lvl-table-rowrow {
  background: radial-gradient(
    107.05% 107.05% at 69.2% -7.05%,
    #2a2a2a 47.2%,
    #1a1a1a 100%,
    #1a1a1a 100%
  );
  border-radius: 4px;
  z-index: -1;
}
.emptyrow {
  height: 20px;
}

label {
  margin-bottom: 0 !important;
}
.acc-lvl1 {
  height: 100%;
  background-color: white !important;
}

.acc-lvl1-overlay,
.acc-lvl2-overlay,
.acc-lvl3-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 203, 0, 0.06);
  display: none;
}

.acc-lvl-overlay-show {
  display: block !important;
  /* border-left: 2px dotted yellow !important;
  border-right: 2px dotted yellow !important;
  border-collapse: collapse; */
}
/* .acc-lvl-table-header-wrap {
  display: flex;
}

.acc-lvl-table-header {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 90%;
  height: 65px;
  background: #636363;
  border-radius: 4px;
  position: relative;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 0 10px;
}

.acc-lvl-header-tail {
  content: "";
  position: absolute;
  top: 100%;
  display: inline-block;
  margin: 0 auto;
  width: 0px;
  height: 0px;
  border-left: 15px solid transparent;
  border-top: 15px solid #636363;
  border-right: 15px solid transparent;
}

.loremcontent {
  max-height: 100px;
}
.loremcontent span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
.loremcontent h1 {
  font-family: "Yellix";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 147.5%;
  color: #ffffff;
  align-self: center;
}
.gradient {
  grid-column: 1 / span 5;
  grid-row: 2;
  background: radial-gradient(
    107.05% 107.05% at 69.2% -7.05%,
    #2a2a2a 47.2%,
    #1a1a1a 100%,
    #1a1a1a 100%
  );
  border-radius: 4px;
  z-index: -1;
} */
