body {
  background: black !important;
}

.alt-bar-wrap {
  width: 100%;
  font-family: "Yellix";
}

.alt-cb-box {
  display: flex;
  position: relative;
  min-height: 113px;
  background: radial-gradient(
    107.05% 107.05% at 69.2% -7.05%,
    #2a2a2a 47.2%,
    #1a1a1a 100%,
    #1a1a1a 100%
  );
  border-radius: 4px;
  align-items: center;
  align-content: center;
}
.alt-cb-box .column {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cb {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  margin-left: 27px;
}

.cb-crypto {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #ffcb00;
  margin-right: 27px;
}

.cb-fiat {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-right: 27px;
}

/*Alt side bar*/

.alt-sidebar-box {
  position: relative;
  width: 100%;
  background: radial-gradient(
    107.05% 107.05% at 69.2% -7.05%,
    #2a2a2a 47.2%,
    #1a1a1a 100%,
    #1a1a1a 100%
  );
  border-radius: 4px;
}
.alt-sidebar-titlebox {
  display: grid;
  justify-content: start;
  align-items: center;
  padding: 40px 0 40px 0;
}
.alt-box-title1 {
  margin-left: 27px;
  margin-right: 27px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #ffcb00;
}

.alt-box-title2 {
  margin-left: 27px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: white;
}

.alt-box-side-line {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto 27px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.alt-sidebar-content-all {
  min-height: 120px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.alt-sidebar-content-icon {
  width: 52px !important ;
  height: 52px;
  align-self: center;
  margin-left: 27px;
}

.alt-sidebar__row-text {
  padding: 0 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  align-self: center;
  margin-left: 20px;
}
