body {
  background-color: black !important;
  color: white !important;
}

.acc-lvl-slider-wrappo {
  width: 250px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 420px;
}
.acc-lvl-slider-contentbox {
  top: 24px;
  width: 100%;
  height: 52.5px;
  background: #636363;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  margin-top: 12px;
}

.acc-lvl-slider-contentbox-c1 {
  font-family: "Yellix";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  align-self: center;
  color: #ffffff;
  margin-bottom: -8px;
  padding: 0 4px;
}

.acc-lvl-slider-contentbox-c2 {
  font-family: "Yellix";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  align-self: center;
  color: #ffffff;
  padding: 0 4px;
}

.acc-lvl-slider-slide {
  position: absolute;
  z-index: -1;
  width: 6px;
  height: 420px;
  background: #636363;
  border-radius: 11px;
}

.acc-lvl-slider-dot1 {
  width: 23px;
  height: 23px;
  background: white;
  border: solid 5px rgba(255, 203, 0, 1);
  border-radius: 50%;
  align-self: center;
}

.acc-lvl-slider-dot2,
.acc-lvl-slider-dot3 {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #636363;
}

.acc-lvl-slider-content-wrap {
  display: flex;
  flex-direction: column;
}

.acc-lvl-upgrade-idver-details form {
  width: 100%;
}

.acc-lvl-upgrade-idver-details h3 {
  font-family: "Yellix";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 147.5%;

  color: #ffffff;
}
.acc-lvl-upgrade-idver-details p {
  font-family: Yellix;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #adadad;
  margin-bottom: 0;
}
#acc-lvl-upgrade-choosecountry {
  background: radial-gradient(
    239.92% 407.52% at 95.52% -50%,
    #2a2a2a 47.2%,
    #1a1a1a 100%
  ) !important;
  border-radius: 2px;
  border: none;
  outline: none;
  min-width: 50px;
  min-width: 100%;
}
.tabs {
  display: flex;
  justify-content: space-between;
}

.tabs button {
  min-height: 50px;
  background: rgb(255, 203, 0, 0.25);
  border: none;
  font-family: "Yellix";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  transition: 0.1s;
  color: #ffffff;
  overflow: hidden;
}

.tabs button:focus {
  color: #ffcb00;
}

.tabs button:hover {
  transform: translateY(-2px);
}

.acc-lvl-scohice-tphoto {
  width: 100%;
  height: 137px;
  background: rgba(255, 255, 255, 0.17);
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.acc-lvl-scohice-tphoto label {
  font-family: "Yellix";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  margin-top: 12px;
  cursor: pointer;
}

.acc-lvl-schoice-tphoto-s2 {
  width: 100%;
  height: 137px;
  background: rgba(255, 255, 255, 0.17);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.acc-lvl-schoice-tphoto-s2 label {
  font-family: "Yellix";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
}

.acc-lvl-upgrade-selecttype input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}
.acc-lvl-upgrade-selecttype input + label {
  height: 50px;
  border: none;
  background: rgb(255, 203, 0, 0.25);
  font-family: "Yellix";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.acc-lvl-upgrade-selecttype input:checked + label {
  color: #ffcb00;
  z-index: 1;
}

.acc-lvl-upgrade-selecttype {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.acc-lvl-upgrade-vline {
  border: 1px solid rgba(255, 255, 255, 0.17);
}
