body {
  background-color: black !important;
  color: brown !important;
}

.acc-lvl-slider-wrappo {
  width: 800px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 420px;
}
.acc-lvl-slider-contentbox {
  top: 24px;
  width: 100%;
  height: 52.5px;
  background: #636363;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  margin-top: 12px;
}

.acc-lvl-slider-contentbox-c1 {
  font-family: "Yellix";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  align-self: center;
  color: #ffffff;
  margin-bottom: -8px;
  padding: 0 4px;
}

.acc-lvl-slider-contentbox-c2 {
  font-family: "Yellix";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  align-self: center;
  color: #ffffff;
  padding: 0 4px;
}

.acc-lvl-slider-slide {
  position: absolute;
  z-index: -1;
  width: 6px;
  height: 420px;
  background: #636363;
  border-radius: 11px;
}

.acc-lvl-slider-dot1 {
  width: 23px;
  height: 23px;
  background: white;
  border: solid 5px rgba(255, 203, 0, 1);
  border-radius: 50%;
  align-self: center;
}

.acc-lvl-slider-dot2,
.acc-lvl-slider-dot3 {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #636363;
}

.acc-lvl-slider-content-wrap {
  display: flex;
  flex-direction: column;
}

.acc-lvl-upgrade-idver-wrappo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.acc-lvl-upgrade-idver-cam-text h3,
.acc-lvl-upgrade-idver-idcard-text h3 {
  font-family: "Yellix";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 147.5%;
  color: #ffffff;
}

.acc-lvl-upgrade-idver-cam-text p,
.acc-lvl-upgrade-idver-idcard-text p {
  font-family: "Yellix";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

.acc-lvl-upgrade-idver-footnote {
  background: rgb(255, 203, 0, 0.15);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.acc-lvl-upgrade-idver-footnote p {
  padding: 20px;
  font-family: "Yellix";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  color: #ffffff;
}

.acc-lvl-upgrade-idver-footnote h3 {
  font-family: "Yellix";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 147.5%;
  color: #ffffff;
}

.simp-button {
  background: linear-gradient(205.46deg, #ffcb00 -11.59%, #e3a609 96.79%);
  width: 40%;
  align-self: center;
  justify-self: center;
  height: 58px;
  border: #ffcb00;
  border-radius: 101px;
  box-shadow: 0 0 5px 1px #ffcb00;
}
.btn-text {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  align-items: center;
  letter-spacing: 0.02em;
  color: white;
}
