<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="font.css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>
    <script src="main.js"></script>

    <title>acc-table</title>
  </head>

  <body>
    <div class="acc-lvl-upgrade-page-wrappo d-flex">
      <div class="acc-lvl-slider-wrappo">
        <div class="acc-lvl-slider-slide"></div>
        <div class="acc-lvl-slider-dot2"></div>
        <div class="acc-lvl-slider-content-wrap">
          <div class="acc-lvl-slider-dot1"></div>
          <div class="acc-lvl-slider-contentbox">
            <span class="acc-lvl-slider-contentbox-c1 pt-1">Second Step</span>
            <span class="acc-lvl-slider-contentbox-c2 pb-1"
              >ID VERIFICATION</span
            >
          </div>
        </div>

        <div class="acc-lvl-slider-dot3"></div>
      </div>
      <div class="acc-lvl-form-wrappo ml-4">
        <form action="" class="acc-lvl-form">
          <label for="nationality"
            >Nationality <br />
            <input type="text" name="" id="nationality" style="width: 100%;"
          /></label>

          <label for="nas"
            >Name And Surname <br />
            <input type="text" name="" id="name and surname" style="width: 100%;"
          /></label>

          <label for="dob"
          >Date of Birth <br />
          <div class="dobwrap">

              <input type="text" name="" id="dob-day" placeholder="Day"  />
              <input type="text" name="" id="dob-month" placeholder="Month" style="margin-left: 20px" />
              <input type="text" name="" id="dob-year" placeholder="Year" style="margin-left: 20px" />
           
          </div>
        </label>
          <label for="mn"
            >Mobile Number <br />
            <input type="text" name="" id="mobnumber"  style="width: 100%;" />
          </label>
          <label for="ai"
          >Address Info <br />
          <div class="aiwrap">

              <input
                type="text"
                name=""
                id="ai-country"
                placeholder="Country"
                
              />
              <input type="text" name="" id="ai-city" placeholder="City" style="margin-left: 20px"/>
              <input
                type="text"
                name=""
                id="ai-street"
                placeholder="Street, House"
                style="margin-left: 20px"
              />
            
          </div>
        </label>
          <button type="submit" class="simp-button m-4">
            <div class="btn-text">Simple</div>
        </form>
      </div>
    </div>

    <!-- <div class="page-container">
      <div class="dat1">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia,
        omnis, laborum laboriosam sed eaque ad aliquam ullam reiciendis officiis
        eum sit blanditiis labore, voluptate impedit? Assumenda dolore aliquid
        reprehenderit mollitia.
      </div>
      <div class="dat2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quis
        placeat quos, voluptas harum praesentium odit vel repudiandae
        perspiciatis! Eius consectetur alias possimus optio sapiente laborum sit
        sed! Rem, dolorum!
      </div>
      <div class="dat3">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit
        voluptate velit ab, quas asperiores at eaque! Eligendi eaque, eveniet
        modi beatae enim, repudiandae natus doloribus, quo alias incidunt ipsa
        officia.
      </div>
    </div> -->
  </body>
</html>
