<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="font.css" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>acc-table</title>
  </head>

  <body>
    <div class="acc-lvl-table-wrap">
      <!-- <div class="acc-lvl-table-header-wrap">
        <div class="acc-lvl-table-header">
          <div class="acc-lvl-header-tail"></div>
          <span>Level 1</span>
        </div>
        <div class="acc-lvl-table-header">
          <div class="acc-lvl-header-tail"></div>
          <span>Level 2</span>
        </div>
        <div class="acc-lvl-table-header">
          <div class="acc-lvl-header-tail"></div>
          <span>Level 3</span>
        </div>
      </div>

      <div class="acc-lvl-rows">
        <div class="acc-lvl-content">
          <span
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            ipsum harum possimus impedit provident, sed voluptatum dolores dolor
            nesciunt saepe fugiat error quis consectetur, ipsa voluptatibus
            molestiae mollitia sit? Illum.</span
          >
        </div>
        <div class="acc-lvl-yn"></div>
        <div class="acc-lvl-yn"></div>
        <div class="acc-lvl-yn"></div>
      </div> -->

      <div class="loremcontent">1</div>
      <div class="loremcontent">
        <div class="acc-lvl-table-header">
          <div class="acc-lvl-header-tail"></div>
          <h1>Level 1</h1>
        </div>
      </div>
      <div class="loremcontent">
        <div class="acc-lvl-table-header">
          <div class="acc-lvl-header-tail"></div>
          <h1>Level 2</h1>
        </div>
      </div>
      <div class="loremcontent">
        <div class="acc-lvl-table-header">
          <div class="acc-lvl-header-tail"></div>
          <h1>Level 3</h1>
        </div>
      </div>
      <div class="loremcontent p-2" style="grid-row: 2; grid-column: 1/2">
        <div class="acc-lvl-content" style="overflow: hidden">
          <span
            style="
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
            "
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            ipsum harum possimus impedit provident, sed voluptatum dolores dolor
            nesciunt saepe fugiat error quis consectetur, ipsa voluptatibus
            molestiae mollitia sit? Illum.</span
          >
        </div>
      </div>
      <div
        class="loremcontent"
        style="
          grid-row: 2;
          justify-self: center;
          align-self: center;
          grid-column: 2/3;
        "
      >
        <svg
          width="28"
          height="21"
          viewBox="0 0 28 21"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9.5435 21L0.868647 13.039C-0.139565 12.1137 -0.147241 10.5262 0.851974 9.5912C1.74888 8.75197 3.14075 8.74492 4.04611 9.57502L9.55444 14.6255L23.9606 1.46921C24.8681 0.640483 26.2609 0.651114 27.1556 1.4936C28.151 2.43089 28.1389 4.01684 27.1293 4.93886L9.5435 21Z"
            fill="#65B45C"
          />
        </svg>
      </div>
      <div
        class="loremcontent"
        style="
          grid-row: 2;
          justify-self: center;
          align-self: center;
          grid-column: 3/4;
        "
      >
        <svg
          width="28"
          height="21"
          viewBox="0 0 28 21"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9.5435 21L0.868647 13.039C-0.139565 12.1137 -0.147241 10.5262 0.851974 9.5912C1.74888 8.75197 3.14075 8.74492 4.04611 9.57502L9.55444 14.6255L23.9606 1.46921C24.8681 0.640483 26.2609 0.651114 27.1556 1.4936C28.151 2.43089 28.1389 4.01684 27.1293 4.93886L9.5435 21Z"
            fill="#65B45C"
          />
        </svg>
      </div>
      <div
        class="loremcontent"
        style="
          grid-row: 2;
          justify-self: center;
          align-self: center;
          grid-column: 4/5;
        "
      >
        <svg
          width="28"
          height="21"
          viewBox="0 0 28 21"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9.5435 21L0.868647 13.039C-0.139565 12.1137 -0.147241 10.5262 0.851974 9.5912C1.74888 8.75197 3.14075 8.74492 4.04611 9.57502L9.55444 14.6255L23.9606 1.46921C24.8681 0.640483 26.2609 0.651114 27.1556 1.4936C28.151 2.43089 28.1389 4.01684 27.1293 4.93886L9.5435 21Z"
            fill="#65B45C"
          />
        </svg>
      </div>
      <div class="gradient"></div>

      <div class="loremcontent p-2" style="grid-row: 3; grid-column: 1/2">
        <div class="acc-lvl-content" style="overflow: hidden">
          <span
            style="
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
            "
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            ipsum harum possimus impedit provident, sed voluptatum dolores dolor
            nesciunt saepe fugiat error quis consectetur, ipsa voluptatibus
            molestiae mollitia sit? Illum.</span
          >
        </div>
      </div>
      <div
        class="loremcontent"
        style="
          grid-row: 3;
          justify-self: center;
          align-self: center;
          grid-column: 2/3;
        "
      >
        <svg
          width="30"
          height="30"
          viewBox="0 0 30 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M23.7889 2.08058L2.08732 23.7088C0.934525 24.8577 0.923129 26.7317 2.06187 27.8946C3.2006 29.0574 5.05826 29.0687 6.21105 27.9198L27.9127 6.29156C29.0655 5.14266 29.0769 3.26864 27.9381 2.10581C26.7994 0.942981 24.9417 0.931685 23.7889 2.08058Z"
            fill="#EB5757"
          />
          <path
            d="M27.9127 23.7084L6.21105 2.08022C5.05826 0.931321 3.2006 0.942617 2.06187 2.10545C0.923129 3.26828 0.934526 5.1423 2.08732 6.2912L23.7889 27.9194C24.9417 29.0683 26.7994 29.057 27.9381 27.8942C29.0769 26.7314 29.0655 24.8573 27.9127 23.7084Z"
            fill="#EB5757"
          />
        </svg>
      </div>
      <div
        class="loremcontent"
        style="
          grid-row: 3;
          justify-self: center;
          align-self: center;
          grid-column: 3/4;
        "
      >
        <svg
          width="28"
          height="21"
          viewBox="0 0 28 21"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9.5435 21L0.868647 13.039C-0.139565 12.1137 -0.147241 10.5262 0.851974 9.5912C1.74888 8.75197 3.14075 8.74492 4.04611 9.57502L9.55444 14.6255L23.9606 1.46921C24.8681 0.640483 26.2609 0.651114 27.1556 1.4936C28.151 2.43089 28.1389 4.01684 27.1293 4.93886L9.5435 21Z"
            fill="#65B45C"
          />
        </svg>
      </div>
      <div
        class="loremcontent"
        style="
          grid-row: 3;
          justify-self: center;
          align-self: center;
          grid-column: 4/5;
        "
      >
        <svg
          width="28"
          height="21"
          viewBox="0 0 28 21"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9.5435 21L0.868647 13.039C-0.139565 12.1137 -0.147241 10.5262 0.851974 9.5912C1.74888 8.75197 3.14075 8.74492 4.04611 9.57502L9.55444 14.6255L23.9606 1.46921C24.8681 0.640483 26.2609 0.651114 27.1556 1.4936C28.151 2.43089 28.1389 4.01684 27.1293 4.93886L9.5435 21Z"
            fill="#65B45C"
          />
        </svg>
      </div>
      <div class="gradient" style="grid-row: 3"></div>

      <div class="loremcontent p-2" style="grid-row: 4; grid-column: 1/2">
        <div class="acc-lvl-content" style="overflow: hidden">
          <span
            style="
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
            "
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            ipsum harum possimus impedit provident, sed voluptatum dolores dolor
            nesciunt saepe fugiat error quis consectetur, ipsa voluptatibus
            molestiae mollitia sit? Illum.</span
          >
        </div>
      </div>
      <div
        class="loremcontent"
        style="
          grid-row: 4;
          justify-self: center;
          align-self: center;
          grid-column: 2/3;
        "
      >
        <svg
          width="30"
          height="30"
          viewBox="0 0 30 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M23.7889 2.08058L2.08732 23.7088C0.934525 24.8577 0.923129 26.7317 2.06187 27.8946C3.2006 29.0574 5.05826 29.0687 6.21105 27.9198L27.9127 6.29156C29.0655 5.14266 29.0769 3.26864 27.9381 2.10581C26.7994 0.942981 24.9417 0.931685 23.7889 2.08058Z"
            fill="#EB5757"
          />
          <path
            d="M27.9127 23.7084L6.21105 2.08022C5.05826 0.931321 3.2006 0.942617 2.06187 2.10545C0.923129 3.26828 0.934526 5.1423 2.08732 6.2912L23.7889 27.9194C24.9417 29.0683 26.7994 29.057 27.9381 27.8942C29.0769 26.7314 29.0655 24.8573 27.9127 23.7084Z"
            fill="#EB5757"
          />
        </svg>
      </div>
      <div
        class="loremcontent"
        style="
          grid-row: 4;
          justify-self: center;
          align-self: center;
          grid-column: 3/4;
        "
      >
        <svg
          width="28"
          height="21"
          viewBox="0 0 28 21"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9.5435 21L0.868647 13.039C-0.139565 12.1137 -0.147241 10.5262 0.851974 9.5912C1.74888 8.75197 3.14075 8.74492 4.04611 9.57502L9.55444 14.6255L23.9606 1.46921C24.8681 0.640483 26.2609 0.651114 27.1556 1.4936C28.151 2.43089 28.1389 4.01684 27.1293 4.93886L9.5435 21Z"
            fill="#65B45C"
          />
        </svg>
      </div>
      <div
        class="loremcontent"
        style="
          grid-row: 4;
          justify-self: center;
          align-self: center;
          grid-column: 4/5;
        "
      >
        <svg
          width="28"
          height="21"
          viewBox="0 0 28 21"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9.5435 21L0.868647 13.039C-0.139565 12.1137 -0.147241 10.5262 0.851974 9.5912C1.74888 8.75197 3.14075 8.74492 4.04611 9.57502L9.55444 14.6255L23.9606 1.46921C24.8681 0.640483 26.2609 0.651114 27.1556 1.4936C28.151 2.43089 28.1389 4.01684 27.1293 4.93886L9.5435 21Z"
            fill="#65B45C"
          />
        </svg>
      </div>
      <div class="gradient" style="grid-row: 4"></div>
      <div class="loremcontent p-2" style="grid-row: 5; grid-column: 1/2">
        <div class="acc-lvl-content" style="overflow: hidden">
          <span
            style="
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
            "
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            ipsum harum possimus impedit provident, sed voluptatum dolores dolor
            nesciunt saepe fugiat error quis consectetur, ipsa voluptatibus
            molestiae mollitia sit? Illum.</span
          >
        </div>
      </div>
      <div
        class="loremcontent"
        style="
          grid-row: 5;
          justify-self: center;
          align-self: center;
          grid-column: 2/3;
        "
      >
        <svg
          width="28"
          height="21"
          viewBox="0 0 28 21"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9.5435 21L0.868647 13.039C-0.139565 12.1137 -0.147241 10.5262 0.851974 9.5912C1.74888 8.75197 3.14075 8.74492 4.04611 9.57502L9.55444 14.6255L23.9606 1.46921C24.8681 0.640483 26.2609 0.651114 27.1556 1.4936C28.151 2.43089 28.1389 4.01684 27.1293 4.93886L9.5435 21Z"
            fill="#65B45C"
          />
        </svg>
      </div>
      <div
        class="loremcontent"
        style="
          grid-row: 5;
          justify-self: center;
          align-self: center;
          grid-column: 3/4;
        "
      >
        <svg
          width="30"
          height="30"
          viewBox="0 0 30 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M23.7889 2.08058L2.08732 23.7088C0.934525 24.8577 0.923129 26.7317 2.06187 27.8946C3.2006 29.0574 5.05826 29.0687 6.21105 27.9198L27.9127 6.29156C29.0655 5.14266 29.0769 3.26864 27.9381 2.10581C26.7994 0.942981 24.9417 0.931685 23.7889 2.08058Z"
            fill="#EB5757"
          />
          <path
            d="M27.9127 23.7084L6.21105 2.08022C5.05826 0.931321 3.2006 0.942617 2.06187 2.10545C0.923129 3.26828 0.934526 5.1423 2.08732 6.2912L23.7889 27.9194C24.9417 29.0683 26.7994 29.057 27.9381 27.8942C29.0769 26.7314 29.0655 24.8573 27.9127 23.7084Z"
            fill="#EB5757"
          />
        </svg>
      </div>
      <div
        class="loremcontent"
        style="
          grid-row: 5;
          justify-self: center;
          align-self: center;
          grid-column: 4/5;
        "
      >
        <svg
          width="28"
          height="21"
          viewBox="0 0 28 21"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9.5435 21L0.868647 13.039C-0.139565 12.1137 -0.147241 10.5262 0.851974 9.5912C1.74888 8.75197 3.14075 8.74492 4.04611 9.57502L9.55444 14.6255L23.9606 1.46921C24.8681 0.640483 26.2609 0.651114 27.1556 1.4936C28.151 2.43089 28.1389 4.01684 27.1293 4.93886L9.5435 21Z"
            fill="#65B45C"
          />
        </svg>
      </div>
      <div class="gradient" style="grid-row: 5"></div>

      <div class="loremcontent p-2" style="grid-row: 6; grid-column: 1/2">
        <div class="acc-lvl-content" style="overflow: hidden">
          <span
            style="
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
            "
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
            ipsum harum possimus impedit provident, sed voluptatum dolores dolor
            nesciunt saepe fugiat error quis consectetur, ipsa voluptatibus
            molestiae mollitia sit? Illum.</span
          >
        </div>
      </div>
      <div
        class="loremcontent"
        style="
          grid-row: 6;
          justify-self: center;
          align-self: center;
          grid-column: 2/3;
        "
      >
        <svg
          width="28"
          height="21"
          viewBox="0 0 28 21"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9.5435 21L0.868647 13.039C-0.139565 12.1137 -0.147241 10.5262 0.851974 9.5912C1.74888 8.75197 3.14075 8.74492 4.04611 9.57502L9.55444 14.6255L23.9606 1.46921C24.8681 0.640483 26.2609 0.651114 27.1556 1.4936C28.151 2.43089 28.1389 4.01684 27.1293 4.93886L9.5435 21Z"
            fill="#65B45C"
          />
        </svg>
      </div>
      <div
        class="loremcontent"
        style="
          grid-row: 6;
          justify-self: center;
          align-self: center;
          grid-column: 3/4;
        "
      >
        <svg
          width="28"
          height="21"
          viewBox="0 0 28 21"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9.5435 21L0.868647 13.039C-0.139565 12.1137 -0.147241 10.5262 0.851974 9.5912C1.74888 8.75197 3.14075 8.74492 4.04611 9.57502L9.55444 14.6255L23.9606 1.46921C24.8681 0.640483 26.2609 0.651114 27.1556 1.4936C28.151 2.43089 28.1389 4.01684 27.1293 4.93886L9.5435 21Z"
            fill="#65B45C"
          />
        </svg>
      </div>
      <div
        class="loremcontent"
        style="
          grid-row: 6;
          justify-self: center;
          align-self: center;
          grid-column: 4/5;
        "
      >
        <svg
          width="28"
          height="21"
          viewBox="0 0 28 21"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9.5435 21L0.868647 13.039C-0.139565 12.1137 -0.147241 10.5262 0.851974 9.5912C1.74888 8.75197 3.14075 8.74492 4.04611 9.57502L9.55444 14.6255L23.9606 1.46921C24.8681 0.640483 26.2609 0.651114 27.1556 1.4936C28.151 2.43089 28.1389 4.01684 27.1293 4.93886L9.5435 21Z"
            fill="#65B45C"
          />
        </svg>
      </div>
      <div class="gradient" style="grid-row: 6"></div>
    </div>

    <div class="grid">
      <div class="child"></div>
      <div class="child"></div>
      <div class="child">x</div>
      <div class="child"></div>
      <div class="child"></div>
      <div class="child"></div>
      <div class="child"></div>
      <div class="child">o</div>
      <div class="child"></div>
    </div>

    <script src="main.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
