body {
  background: black !important;
}

/* üstü kesik card */
.account-card__container {
  position: relative;
  min-width: 350px;
}

.account-elipse {
  background: linear-gradient(205.46deg, #ffcb00 -11.59%, #e3a609 96.79%);
  border-radius: 77px;
  min-height: 77px;
  display: flex;
  align-items: center;
}

.account-card-content {
  position: relative;
  left: 77px;
  margin-right: 80px;
  border-bottom-left-radius: none;
  border-top-right-radius: 71px;
  border-bottom-right-radius: 71px;
  border-top-left-radius: 71px;
  min-height: 71px;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.account-circle-bg {
  position: absolute;
  left: -18px;
  bottom: -15px;
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
  border: 15px solid black;
  border-top: 0;
  min-height: 55px;
  display: flex;
  align-items: center;
  z-index: 1;
  width: 110px;
}

.account-card-wrap,
.account-card-content {
  background: black;
}

.account-circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 3px;
  left: 3px;
  bottom: 3px;
  width: 71px;
  border-radius: 50%;
  background: radial-gradient(
    239.92% 407.52% at 95.52% -50%,
    #2a2a2a 47.2%,
    #1a1a1a 100%
  );
}

.account-card-name {
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.account-dropbtn {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: white;
}

.account-card-dropdown {
  position: relative;
  display: inline-block;
}

.account-card-dropdown-content {
  display: none;
  position: absolute;
  top: 65px;
  background: radial-gradient(
    239.92% 407.52% at 95.52% -50%,
    #2a2a2a 47.2%,
    #1a1a1a 100%
  );
  box-shadow: 0px 3px 17px rgba(0, 0, 0, 0.53);
  border-radius: 2px;
  z-index: 1;
  right: 0;
  left: 0;
}

.account-card-dropdown-content label {
  color: white;
  padding: 12px 16px;
  text-decoration: none !important;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.account-card-dropdown-content label:hover {
  color: rgba(255, 203, 0, 1);
  font-weight: 700;
}

.account-show {
  display: block;
}

.account-card-dropdown-arrow {
  position: absolute;
  display: flex;
  right: 25px;
}

/*////////////////////////////////////////////////////// */

.account-radiobtn {
  position: relative;
  display: block;
}
.account-radiobtn label {
  display: block;
  padding: 10px 20px;
  margin: 0 0 0 15px !important;
  cursor: pointer;
}
.account-radiobtn label:after,
.account-radiobtn label:before {
  content: "";
  position: absolute;
  left: 11px;
  top: 11px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: radial-gradient(
    239.92% 407.52% at 95.52% -50%,
    #2a2a2a 47.2%,
    #1a1a1a 100%
  );
}
.account-radiobtn label:after {
  border: 2px solid #ffcb00;
  right: 15px;
  top: 15px;
}
.account-radiobtn label:before {
  background: transparent;
  z-index: 2;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: center;
  width: 0;
  height: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='10' viewBox='0 0 11 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 6L3.5 9L9.5 1.5' stroke='%23FFCB00' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
.account-radiobtn input[type="checkbox"] {
  position: absolute;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.account-radiobtn input[type="checkbox"]:checked + label:after {
  background: radial-gradient(
    239.92% 407.52% at 95.52% -50%,
    #2a2a2a 47.2%,
    #1a1a1a 100%
  );
}
.account-radiobtn input[type="checkbox"]:checked + label:before {
  width: 20px;
  height: 20px;
}
